<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote_name %><br>
    <%= f.text_field :quote_name %>
  </div>
    <div class="field">
      <%= f.label :car_name, "VIN Number" %><br>
      <%= f.collection_select :car_id, Car.all, :id, :vin_num %>
    </div>
  <div class="field">
    <%= f.label :mark_price %><br>
    <%= f.text_field :mark_price %>
  </div>
  <div class="field">
    <%= f.label :tax %><br>
    <%= f.number_field :tax %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.number_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :date_started %><br>
    <%= f.date_select :date_started %>
  </div>
  <div class="field">
    <%= f.label :sold %><br>
    <%= f.check_box :sold %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
