<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Quote name</th>
      <th>Car</th>
      <th>Mark price</th>
      <th>Tax</th>
      <th>Total price</th>
      <th>Date started</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.quote_name %></td>
        <td><%= quote.car.vin_num %></td>
        <td><%= quote.mark_price %></td>
        <td><%= quote.tax %></td>
        <td><%= quote.total_price %></td>
        <td><%= quote.date_started %></td>
        <td><%= quote.sold %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
