<p id="notice"><%= notice %></p>

<p>
  <strong>Quote name:</strong>
  <%= @quote.quote_name %>
</p>

<p>
  <strong>Mark price:</strong>
  <%= @quote.mark_price %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @quote.tax %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @quote.total_price %>
</p>

<p>
  <strong>Date started:</strong>
  <%= @quote.date_started %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @quote.sold %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car_id %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
