<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, "First Name" %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Night" %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone" %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :emp_type, "Employee Position" %><br>
    <%= f.collection_select :emp_type, EmpType.all, :id, :emp_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
