<%= form_for(@overall) do |f| %>
  <% if @overall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@overall.errors.count, "error") %> prohibited this overall from being saved:</h2>

      <ul>
      <% @overall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_gross %><br>
    <%= f.text_field :total_gross %>
  </div>
  <div class="field">
    <%= f.label :net_profit %><br>
    <%= f.text_field :net_profit %>
  </div>
  <div class="field">
    <%= f.label :total_tax %><br>
    <%= f.text_field :total_tax %>
  </div>
  <div class="field">
    <%= f.label :sale_id %><br>
    <%= f.number_field :sale_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
