<p id="notice"><%= notice %></p>

<h1>Overall Totals</h1>

<table>
  <thead>
    <tr>
      <th>Total gross</th>
      <th>Net profit</th>
      <th>Total tax</th>
      <th>Sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @overalls.each do |overall| %>
      <tr>
        <td><%= overall.total_gross %></td>
        <td><%= overall.net_profit %></td>
        <td><%= overall.total_tax %></td>
        <td><%= overall.sale_id %></td>
        <td><%= link_to 'Show', overall %></td>
        <td><%= link_to 'Edit', edit_overall_path(overall) %></td>
        <td><%= link_to 'Destroy', overall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Overall', new_overall_path %>
