<p id="notice"><%= notice %></p>

<p>
  <strong>Total gross:</strong>
  <%= @overall.total_gross %>
</p>

<p>
  <strong>Net profit:</strong>
  <%= @overall.net_profit %>
</p>

<p>
  <strong>Total tax:</strong>
  <%= @overall.total_tax %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @overall.sale_id %>
</p>

<%= link_to 'Edit', edit_overall_path(@overall) %> |
<%= link_to 'Back', overalls_path %>
