<%= form_for(@emp_type) do |f| %>
  <% if @emp_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emp_type.errors.count, "error") %> prohibited this emp_type from being saved:</h2>

      <ul>
      <% @emp_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emp_type %><br>
    <%= f.text_field :emp_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
