<p id="notice"><%= notice %></p>

<h1>Employee Positions</h1>

<table>
  <thead>
    <tr>
      <th>Emp type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_types.each do |emp_type| %>
      <tr>
        <td><%= emp_type.emp_type %></td>
        <td><%= link_to 'Show', emp_type %></td>
        <td><%= link_to 'Edit', edit_emp_type_path(emp_type) %></td>
        <td><%= link_to 'Destroy', emp_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp type', new_emp_type_path %>
