<%= form_for(@amortization) do |f| %>
  <% if @amortization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amortization.errors.count, "error") %> prohibited this amortization from being saved:</h2>

      <ul>
      <% @amortization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term_years %><br>
    <%= f.number_field :term_years %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :month_pay, "Monthly Payments" %><br>
    <%= f.number_field :month_pay %>
  </div>
  <div class="field">
    <%= f.label :sale_id %><br>
    <%= f.number_field :sale_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
