<p id="notice"><%= notice %></p>

<h1>Amortization Table</h1>

<table>
  <thead>
    <tr>
      <th>Term years</th>
      <th>Interest</th>
      <th>Month pay</th>
      <th>Sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amortizations.each do |amortization| %>
      <tr>
        <td><%= amortization.term_years %></td>
        <td><%= amortization.interest %></td>
        <td><%= amortization.month_pay %></td>
        <td><%= amortization.sale_id %></td>
        <td><%= link_to 'Show', amortization %></td>
        <td><%= link_to 'Edit', edit_amortization_path(amortization) %></td>
        <td><%= link_to 'Destroy', amortization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amortization', new_amortization_path %>
