#wrapperHeader{

    position: relative;
    bottom: 0;
    margain: auto;
    alignment: right;
    color: black;
}

#header {

    background-color: #ECEEFF;
    color: black;
    padding: 20px;
    font-size: 16pt;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
a {
    color: #939aff;
}

a:link {
    COLOR: white
}
