<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vin_num, "Vin Number" %><br>
    <%= f.text_field :vin_num %>
  </div>
  <div class="field">
    <%= f.label :car_price, "Car Price" %><br>
    <%= f.text_field :car_price %>
  </div>
  <div class="field">
    <%= f.label :make_id, "Make" %><br>
    <%= f.collection_select :make_id, Make.all, :id, :make_name %>
  </div>
  <div class="field">
    <%= f.label :color_id, "Color" %><br>
    <%= f.collection_select :color_id, Color.all, :id, :color %>
  </div>
  <div class="field">
    <%= f.label :year_id, "Color" %><br>
    <%= f.collection_select :year_id, Year.all, :id, :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
