<p id="notice"><%= notice %></p>

<h1>Car Inventory</h1>
<%= search_form_for @q do |f| %>
    <div class="field">
      <%= f.label :vin_num_cont, "VIN Contains" %>
      <%= f.text_field :vin_num_cont %>
    </div>

    <div class="field">
      <%= f.label :make_make_name_cont, "Make Contains" %>
      <%= f.text_field :make_make_name_cont %>
    </div>

    <div class="field">
      <%= f.label :color_color_cont, "Color Name Contains" %>
      <%= f.text_field :color_color_cont %>
    </div>
    <div class="actions">
      <%= f.submit "Search" %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Vin Number</th>
      <th>Car Price</th>
      <th>Make</th>
      <th>Color</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.vin_num %></td>
        <td><%= number_to_currency(car.car_price) %></td>
        <td><%= car.make.make_name %></td>
        <td><%= car.color.color %></td>
        <td><%= car.year.year %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
