<p id="notice"><%= notice %></p>

<p>
  <strong>Vin Number:</strong>
  <%= @car.vin_num %>
</p>

<p>
  <strong>Car Price:</strong>
  <%= @car.car_price %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make.make_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color.color %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year.year %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
