<p id="notice"><%= notice %></p>

<p>
  <strong>Sale total:</strong>
  <%= @sale.sale_total %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @sale.quote_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sale.employee_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
