<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id='header'>
  <h1>Hot Mess Auto and Car Shop</h1>
  <LINK COLOR="#f0ffff">
  <%= link_to "Car Inventory",cars_path %>
  <%= link_to "Customers", customers_path %>
  <%= link_to "Employees", employees_path %>
  <%= link_to "Car Quotes", quotes_path %>
  <%= link_to "Sales", sales_path %>
  <%= link_to "Amortization", amortizations_path %>
  <%= link_to "Overall Totals", overalls_path %>
  </LINK>
</div>
<%= yield %>

</body>
</html>